
{% load adminmedia static %}

<link rel="stylesheet" media="screen" type="text/css" href="{% get_static_prefix %}contentbrowser/css/cb.css" />

{% if CB_ACTIONS_PATH %}
<script src="{% get_static_prefix %}{{ CB_ACTIONS_PATH }}" type="text/javascript" charset="utf-8"></script>
{% else %}
<script src="{% get_static_prefix %}js/cb_actions.js" type="text/javascript" charset="utf-8"></script>
{% endif %}

<script type="text/javascript" charset="utf-8">

    function ContentBrowser(options) {
        var self = this,
            defaultOptions = {
                cb_actions: {}
            };

        /** Extend the default options **/
        if (typeof options === 'object') {
            options = $.extend(defaultOptions, options);
        } else {
            options = defaultOptions;
        }

        /** Private parts **/

        /** Public parts **/
        this.takeAction = function(action, el) {
            return options.cb_actions[action](django.jQuery(el));
        };
        
    }
    
    function show_loader(container) {
        django.jQuery(container).empty().html('<div style="text-align:center;"><img src="{% get_static_prefix %}contentbrowser/img/ajax-loader.gif" /></div>');
    }


    django.jQuery(document).ready(function() {
        cb = new ContentBrowser({ cb_actions: cb_actions });

        django.jQuery('#cb_toggle_panels').click(function() {
            django.jQuery('#cb_types_panel, #cb_items_panel, #cb_display_panel, #cb_filter_panel')
                .toggle(300);
            return false;
        });

        django.jQuery('#cb_types_panel a').click(function() {
            var ct = django.jQuery(this).parent().attr('id').substr(3);
            django.jQuery('#cb_types_panel li a').removeClass('selected');
            django.jQuery(this).addClass('selected');
            show_loader('#cb_items_panel');
            django.jQuery.ajax({
                url: '{% url contentbrowser_browse_items %}?ctype=' + ct,
                success: function(data) {
                    django.jQuery('#cb_items_panel').empty().html(data);
                }
            });
            return false;
        });

    });
</script>