{% comment %}
    You can override this template to customize the styles and layout if you
    wish.
{% endcomment %}


<div id="contentbrowser" class="column span-flexible">
    <div id="cb_actions_panel">
        <button id="cb_toggle_panels">Hide/Show</button>
    </div>

    <div id="cb_types_panel" class="column span-4">
        <ul>
            {% for type in contenttypes %}
            <li id="ct_{{ type.contenttype }}"> <a href="#">{{ type.name }}</a> </li>
            {% endfor %}
        </ul>
    </div>

    <div id="cb_items_panel" class="column span-flexible">
    </div>

    <div id="cb_display_panel">
    </div>

    <div id="cb_filter_panel">
    </div>
</div>
