{% comment %}
	A template that the developer should modify based on how he/she wants
	the content types to be represented in the browser.

	Copy this template to the same location in your project templates, and
	start adding the custom html for your types.

    context variables:

        ctype - The name of the content type written as 'app.model'

        page - This is a django pagination object. Read the django pagination
        docs for more.

{% endcomment %}


{# Example #}

{% if ctype == 'contentbrowser.demomodel' %}
	{# ... html to render the here here ... #}
{% endif %}


{% if ctype == 'someapp.somemodel' %}
	{# ... html to render the type here ... #}
{% endif %}
